# Node.js
node_modules/
package-lock.json

# Tailwind build output
app/static/css/main.css

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.env
*.env

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Virtual Environment
venv/
ENV/

# IDE
.idea/
*.swp
*.swo

# OS
Thumbs.db 